/*------------------------------------------------------------------
[Home Stylesheet]

Project:	USA Rugby
Version:	2.0

1. Hero
2. News Area
3. Sidebar

-------------------------------------------------------------------*/

.news-area {
	padding-left: 0;
	position: relative;
	margin-bottom: 40px;
}

#hero {
	position: relative;
	z-index: 0;
	margin: 0 0 40px 0;
	&:after {
		position: absolute;
		content: '';
		background: url('../img/hero-shadow.png') bottom center no-repeat;
		bottom: -35px;
		left: -90px;
		width: 1270px;
		height: 50px;
		z-index: -1;
	}
}
