/*------------------------------------------------------------------
[Header Stylesheet]

Project:	USA Rugby
Version:	2.0

1. Header
2. Toolbar
3. Register
4. Branding
5. Navigation

-------------------------------------------------------------------*/


/* 1. Header ------------------------------------------------------*/

.page-header {
	background: url('../img/header-bg.jpg') center top no-repeat;
	min-height: 180px;
	position: relative;
	z-index: 3;
	max-width: @overflow-width;
	h1 {
		line-height: 180px;
		font-size: 80px;
		color: @sidebar;
		margin: 0;
		letter-spacing: -3px;
		padding-left: 20px;
		position: relative;
		font-family: @narrow-font;
		&:after {
			position: absolute;
			bottom: 40px;
			left: 25px;
			content: '';
			width: 40px;
			height: 8px;
			background: @sidebar;
		}
	}
	&:before {
    	position: absolute;
		width: 10px;
		height: 10px;
		left: 1px;
		bottom: -10px;
		content: '';
		background: url('../img/nav-left.png');
    }
    &:after {
    	position: absolute;
		width: 10px;
		height: 10px;
		right: 1px;
		bottom: -10px;
		content: '';
		background: url('../img/nav-right.png');
    }
}

.content-wrapper {
	background: #FFF;
	padding: 0;
}

#content {
	position: relative;
	article {
		z-index: 1;
		background: #FFF;
		min-height: 1200px;
	}
	.title {
			font-size: 36px;
			height: 104px;
			line-height: 104px;
			letter-spacing: -1px;
			margin: 0;
			padding: 0;
			border-bottom: 1px solid #E2E6F0;
			color: #001830;
			position: relative;
			font-weight: 300;
			margin: 0 100px;
	}
	p {
		font-size: 16px;
		line-height: 1.6;
		font-family: @body-font;
		margin: 30px 100px 30px 100px;
	}
	img {
	float: left;
	margin: 30px 30px 30px 0;
	}
}

#loader {
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	img {
		left: 50%;
		margin-left: -50px;
		top: 20%;
		position: absolute;
	}
}
