/*------------------------------------------------------------------
[Sidebar Stylesheet]

Project:	USA Rugby
Version:	2.0

1. Sidebar
2. Menu Level 1
3. Menu Level 2
4. Fixed Element

--------------------------------------------------------------------*/

/* 1. Sidebar  -----------------------------------------------------*/

.sidebar {
	padding: 0;
	background: @sidebar;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.sub-menu {
		display: none;
	}
}

/* 2. Menu Level 1 --------------------------------------------------*/

.menu > li > a {
	display: block;
	font-size: 14px;
	position: relative;
	color: #B9BDC3;
	line-height: 50px;
	padding-left: 30px;
	border-top: 1px solid #314360;
	border-bottom: 1px solid #0F1723;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222F43), color-stop(100%, #1E2B40));
}

.menu > li > a.active {
	background: #071D32;
	color: #FFF;
	border-bottom: 0;
	border-top: 0;
	box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
	z-index: 1;
	&:before {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 50px;
		width: 6px;
		background: url('../img/active-menu.png') center top no-repeat;
		content: '';
		z-index: 0;
	}
}

/* 3. Menu Level 2 --------------------------------------------------*/

.menu ul li a {
	height: 40px;
	display: block;
	position: relative;
	color: #FFF;
	padding-left: 40px;
	line-height: 40px;
	font-size: 12px;
	background: #253447;
}

/* 3. Fixed Element --------------------------------------------------*/

.menu.fixed {
	 width: 250px; top: 0px;
}


/* 4. Player Menu ---------------------------------------------------*/
 

#playermenu {
	background: #333;
	position: absolute;
	z-index: -1;
	left: -50px;
	top: 0px;
	width: 258px;
	-webkit-transition: 0.4s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-moz-transition: 0.4s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-o-transition: 0.4s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-ms-transition: 0.5s cubic-bezier(0.694, 0.0482, 0.335, 1);
	transition: 0.4s cubic-bezier(0.694, 0.0482, 0.335, 1);
	padding: 0;
	background: #3A485D;
	height: 100%;		
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&.open {
		left: -258px;
	}
	li a {
		display: block;
		font-size: 13px;
		position: relative;
		color: #FFF;
		line-height: 50px;
		padding-left: 50px;
		border-top: 1px solid #465264;
		border-bottom: 1px solid #314360; 
	}
}
